.modalbackground {
  position: fixed;
  width: 100%;
  height: 100vh;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max(50vw, 600px);
  background-color: white;
  display: flex;
  padding: 30px;
  gap: 80px;
  text-align: justify;
  border-radius: 2px;
}

.link {
  background-color: #3c3c3c;
  color: white;
  width: fit-content;
  padding: 8px;
  border-radius: 2px;
  font-family: var(--spaceMono-font);
  font-weight: 500;
  font-size: 15px;
}

.content h1 {
  text-align: center;
}

.text,
.image {
  display: flex;
  flex-direction: column;
}

.cardimage {
  object-fit: cover;
}

@media (max-width: 1080px) {
  .content {
    flex-wrap: wrap;
    gap: 10px;
  }
  .text {
    align-items: center;
  }
}

@media (max-width: 755px) {
  .content {
    width: 80vw;
  }
}

@media (max-width: 605px) {
  .content {
    margin-top: 15vh;
  }
  .image {
    display: none;
  }
}
