.cart {
  border: none;
  position: fixed;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  right: 0;
  width: 100vw;
  height: 100vh;

  /* overflow: scroll; */
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  border-radius: 5px;
  background-color: rgb(225, 225, 225);
  margin-bottom: 20px;
}
.itemInfo {
  width: 40%;
}

.itemInfo h3 {
  font-size: 17px;
}

.itemInfo p {
  font-size: 15px;
}

.quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.purchase {
  width: 100%;
  background-color: var(--red);
  border: none;
  height: 30px;
  border-radius: 5px;
}

.exit {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 30px;
  font-weight: 300;
}
