.contactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.title {
  font-size: 40px;
  margin-bottom: -1px;
}

.subheading {
  width: min(430px, 80vw);
  text-align: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 10px;
}

.contactForm input,
.contactForm textarea {
  width: min(430px, 80vw);
  height: 50px;
  /* background-color: grey; */
  border-style: none;
  border-radius: 2px;
  color: black;
  font-family: var(--spaceMono-font);
}

.contactForm .message {
  height: 150px;
  margin-bottom: 100px;
}
