.contactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.contactPage h2 {
  font-size: 40px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 10px;
}

.contactForm input,
.contactForm textarea {
  width: 430px;
  height: 50px;
  /* background-color: grey; */
  border-style: none;
  border-radius: 2px;
  color: black;
}

.contactForm .message {
  height: 150px;
  margin-bottom: 100px;
}
