.contact {
  margin-top: 5%;
  padding-left: 10%;
  padding-bottom: 2%;
  background-color: var(--black);
  color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.contactTitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: -6%;
  margin-left: 2%;
  font-family: var(--spaceMono-font);
}

.contactInfo,
.contactAddress {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 1px;
  display: flex;
  flex-wrap: wrap;
  -ms-word-break: break-all;
  word-break: break-all;
}

.contactAddress {
  width: 40%;
}

.infocontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
}

.socialicons {
  width: 140px;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 852px) {
  .contactInfo {
    font-size: 7vw;
    width: 95%;
  }
}
