.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.homecontent {
  margin-top: 6%;
  margin-bottom: 3%;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subheading {
  display: flex;
  width: fit-content;
  font-family: "roboto";
  font-style: italic;
  font-weight: 600;
  letter-spacing: 4px;
  margin-top: -37px;
}

.about {
  top: 60px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin: -20px 10vw 60px 10vw;
  flex-wrap: wrap;
  background-color: var(--white);
  z-index: 0;
}

.aboutContent {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.aboutImage {
  object-fit: cover;
  width: 390px;
  height: 100%;
  margin-top: 10px;
}

.titles {
  width: 50%;
}

.title {
  font-family: "youngest";
  font-size: 100px;
  font-weight: 200;
  line-height: 10px;
  width: fit-content;
}

.buttonLinks {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.missionSection {
  background-color: var(--black);
  width: 100vw;
  height: 700px;
  z-index: 1;
  color: var(--white);
  padding: 0 10vw;
  position: relative;
}

.missionSection h2 {
  margin-top: 60px;
  font-family: var(--montserrat);
  font-style: italic;
  letter-spacing: 3px;
  font-size: 30px;
}

.missionSection p {
  font-family: var(--montserrat);
  font-size: 20px;
  padding: 0 3%;
  font-weight: 200;
  text-align: justify;
  line-height: 30px;
  letter-spacing: 3px;
  margin-bottom: 60px;
}

.missionImages {
  display: flex;
  width: 100vw;
  position: absolute;
  left: 0;
  overflow: scroll;
}
.missionImage {
  height: auto;
  width: 25vw;
  aspect-ratio: 1;
  background-color: grey;
}

.reviewCard {
  background-color: black;
  height: 350px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.reviewContent {
  padding: 5% 5% 0 5%;
  color: white;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
  font-size: 25px;
}

.reviewAvatar {
  height: 60px;
  width: 60px;
  background-color: blueviolet;
  border-radius: 50%;
  margin: 0 0 7% 7%;
}

.subheading {
  font-size: 30px;
  width: 100vw;
  margin-bottom: 3%;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  margin-top: 50px;
  background-color: black;
}

.subhead {
  position: absolute;
  color: white;
  font-size: 50px;
  text-align: center;
  width: 80%;
}
.headervid {
  width: 90vw;
  object-fit: cover;
  height: 100%;
}

@media (max-width: 1205px) {
  .aboutImage {
    margin-top: 10px;
    width: 80%;
  }
  .about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 90vw;
  }
  .aboutColumn {
    width: 100%;
  }

  .aboutContent p {
    width: fit-content;
  }
}
