.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.homecontent {
  margin-top: 6%;
  margin-bottom: 3%;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.coverImage {
  width: 90vw;
  height: auto;
}

.coverImage img {
  object-fit: cover;
  height: 500px;
}

.carouselContainer {
  height: 500px;
}

/* .cardsRow {
  display: flex;
  width: 90vw;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10%;

  height: 350px;
  margin-bottom: 20px;
} */

.cards {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 100px;
  height: fit-content;
}

.reviewCard {
  background-color: black;
  height: 350px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.reviewContent {
  padding: 5% 5% 0 5%;
  color: white;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
  font-size: 25px;
}

.reviewAvatar {
  height: 60px;
  width: 60px;
  background-color: blueviolet;
  border-radius: 50%;
  margin: 0 0 7% 7%;
}

.subheading {
  font-size: 30px;
  width: 100vw;
  margin-bottom: 3%;
  text-align: center;
}

.about {
  /* margin-top: 500px; */
  display: flex;
  justify-content: space-between;
  width: 72vw;
  flex-wrap: wrap;
}

.aboutColumn {
  width: 40%;
}

.alchemyQuote {
  margin-left: 20%;
}

.alchemyQuote h2 {
  font-size: 50px;
}

.alchemyQuote p {
  font-size: 27px;
  margin-top: -8%;
}

.aboutContent {
  margin-top: 10%;
  margin-left: 2%;
}

.aboutContent h2 {
  margin-left: 5%;
  font-size: 30px;
}

.aboutImage {
  object-fit: cover;
  width: 390px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  margin-top: 50px;
  background-color: black;
}

.subhead {
  position: absolute;
  color: white;
  font-size: 50px;
  text-align: center;
  width: 80%;
}
.headervid {
  width: 90vw;
  object-fit: cover;
  height: 100%;
}

@media (max-width: 904px) {
  .alchemyQuote,
  .aboutContent {
    width: 80vw;
  }

  .alchemyQuote {
    margin-top: -100px;
  }
  .alchemyQuote h2 {
    margin-bottom: 60px;
  }
}
