.navbar {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  height: 50px;
  z-index: -2;
}

.navlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
  color: black;
  font-size: 14px;
  z-index: 1;
}
