.navbar {
  width: 100vw;
  height: 60px;
  position: fixed;
  background-color: var(--white);
  z-index: 2;
}

.titlediv {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

.title {
  color: var(--black);
  display: flex;
  font-size: 25px;
  font-weight: 200;
  font-family: "younger";
}

.navItems {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  right: 0;
}

@media (max-width: 1300px) {
  .title {
    margin-top: 30px;
    font-size: 5.5vw;
    font-weight: 500;
  }

  .titlediv {
    width: 100vw;
    background-color: var(--white);
    height: fit-content;
  }
  .navbar {
    height: 0;
    height: fit-content;
  }

  .logo {
    height: 15px;
  }
}
