.navbar {
  width: 100vw;
  height: 12vh;
  position: fixed;
  z-index: 0;
  background-color: white;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.04);

  /* background-color: white; */
}

.titlediv {
  position: absolute;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;
}

.title {
  top: -7px;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 400;
}

.logocontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  height: 45px;
  width: 350px;
}

.logo {
  width: auto;
  height: 20px;
}
